<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_update.project %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project_update.title %>
</p>

<p>
  <strong>Action:</strong>
  <%= @project_update.action %>
</p>

<%= link_to 'Edit', edit_project_update_path(@project_update) %> |
<%= link_to 'Back', project_updates_path %>
